/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
*~
/local/
.DS_Store

ena_not_in_biosample.txt
scripts/ena_not_in_biosample.txt
scripts/predict*.txt
scripts/etag*.txt

# middle file
scripts/*.log
scripts/*.txt
scripts/*.xlsx
scripts/*.json

# PyCharm files
.idea/

# initialize ES commands
elasticsearch/initialze_test_es_server.sh
